<template>
  <!-- Используются различные компоненты фреймворка vuetify для быстрого создания макета -->
  <!-- v-container, v-layout, v-flex, v-btn, v-icon, v-data-table, v-checkbox  -->
  <!-- Также используются различные css классы из фреймворка vuetify и точки определения размеров экрана для управления видом на различных устройтсвах -->
  <v-container>
    <v-layout
      wrap
    >
      <!--Название раздела с различным размером шрифта для обычной и мобильной версии -->
      <v-flex xs12>
        <div
          class="font-weight-bold"
          :class="{
            'title mb-3': $vuetify.breakpoint.xs,
            'headline mb-3': $vuetify.breakpoint.sm,
            'display-1 mb-4': $vuetify.breakpoint.mdAndUp
          }"
        >
          Корзина
        </div>
      </v-flex>
      <!--Разметка таблицы -->
      <v-flex xs12>
        <v-data-table
          v-model="selected"
          :headers="tableHeaders"
          :items="shoppingList"
          select-all
          hide-actions
          item-key="item.id"
          no-data-text="Вы не добавили в корзину ни одного товара"
        >
          <!--Слот таблицы для хедера -->
          <template
            slot="headers"
            slot-scope="props"
          >
            <tr>
              <!-- Общий чекбокс выделения товаров -->
              <th
                :width="50"
                class="pr-0"
                :class="{'pa-1 pr-0': $vuetify.breakpoint.xs}"
              >
                <v-checkbox
                  :input-value="props.all"
                  :indeterminate="props.indeterminate"
                  primary
                  hide-details
                  @click.stop="toggleAll"
                >
                  <template slot="append">
                    <v-btn
                      icon
                      small
                      :disabled="selected.length === 0"
                      class="ma-0"
                      @click="remove"
                    >
                      <v-icon>
                        delete
                      </v-icon>
                    </v-btn>
                  </template>
                </v-checkbox>
              </th>
              <!--Колонки (названия) таблицы -->
              <th
                v-for="(header, i) in props.headers"
                :key="i"
                class="column text-xs-left"
                :class="{'pa-1': $vuetify.breakpoint.xs}"
              >
                {{ header.text }}
              </th>
            </tr>
          </template>
          <!--Слот таблицы для строк -->
          <template
            slot="items"
            slot-scope="props"
          >
            <tr
              :active="props.selected"
              @click="props.selected = !props.selected"
            >
              <!-- Чекбокс выделения товара -->
              <td :class="{'pa-1': $vuetify.breakpoint.xs}">
                <v-checkbox
                  :input-value="props.selected"
                  primary
                  hide-details
                />
              </td>
              <!-- Порядковый номер товара в корзине -->
              <td :class="{'pa-1': $vuetify.breakpoint.xs}">
                {{ props.index + 1 }}
              </td>
              <!-- Название товара -->
              <td :class="{'pa-1': $vuetify.breakpoint.xs}">
                {{ props.item.item.title }}
              </td>
              <!-- Количество с возможностью редактирования -->
              <td :class="{'justify-center pa-1': $vuetify.breakpoint.xs}">
                <!-- Кнопка инкремента -->
                <div
                  :class="{
                    'flex text-xs-center': $vuetify.breakpoint.smAndDown,
                    'd-inline': $vuetify.breakpoint.mdAndUp
                  }"
                >
                  <v-btn
                    small
                    icon
                    @click.stop="increment(props.item)"
                  >
                    <v-icon>add</v-icon>
                  </v-btn>
                </div>
                <!-- Количество товара -->
                <div
                  :class="{
                    'flex text-xs-center': $vuetify.breakpoint.smAndDown,
                    'd-inline-flex': $vuetify.breakpoint.mdAndUp
                  }"
                >
                  {{ props.item.quantity }}
                </div>
                <!-- Кнопка декремента -->
                <div
                  :class="{
                    'flex text-xs-center': $vuetify.breakpoint.smAndDown,
                    'd-inline': $vuetify.breakpoint.mdAndUp
                  }"
                >
                  <v-btn
                    small
                    icon
                    :disabled="props.item.quantity <=1"
                    @click.stop="decrement(props.item)"
                  >
                    <v-icon>remove</v-icon>
                  </v-btn>
                </div>
              </td>
              <!-- Цена с учетом количества -->
              <td :class="{'pa-1': $vuetify.breakpoint.xs}">
                {{ floatFormat(props.item.quantity * parseFloat(props.item.item.price.replace(',', '.'))) }}
                <v-icon class="ruble-sign">
                  fa-ruble-sign
                </v-icon>
              </td>
            </tr>
          </template>
          <!--Слот таблицы для футера -->
          <template
            v-if="shoppingList.length > 0"
            slot="footer"
          >
            <td
              :colspan="tableHeaders.length"
              :class="{'pa-1': $vuetify.breakpoint.xs}"
            >
              <strong>Итого:</strong>
            </td>
            <!--Итоговая цена -->
            <td :class="{'pa-1': $vuetify.breakpoint.xs}">
              <strong class="mr-1">{{ totalPrice }}</strong>
              <v-icon class="ruble-sign">
                fa-ruble-sign
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Cart',
  data: () => ({
    // Список выделенных для удаления товаров
    selected: [],
  }),
  computed: {
    shoppingList() {
      // Получаем из хранилища данные о составе корзины в обратном порядке, чтобы последние добавленные были выведены первыми
      return this.$root.$data.sharedStore.getCart().reverse();
    },
    tableHeaders() {
      // Заголовоки таблыи товаров (v-data-table принимает объекты)
      return ['№', 'Название', 'Кол-во', 'Цена'].map(title => ({
        text: title,
      }));
    },
    totalPrice() {
      // Расчет итоговой цены товаров (перемножение цены на количество и общее сложении с форматированием точек и запятых при отделении десятичной части)
      return this.floatFormat(this.shoppingList
        .map(i => i.quantity * parseFloat(i.item.price.replace(',', '.')))
        .reduce((sum, current) => sum + current));
    },
  },
  methods: {
    toggleAll() {
      // Выделение / сброс выделения всех товаров на удаление
      if (this.selected.length) this.selected = [];
      else this.selected = this.shoppingList.slice();
    },
    remove() {
      // Удаление из корзины
      // Если число в корзине совпадает с числом на удаление - вызывем быстрый метод полной чистки корзины
      if (this.selected.length === this.shoppingList.length) this.$root.$data.sharedStore.clearCart();
      else {
        // Иначе перебираем все элементы на удаление и вызываем метод хранилища для одиночного удаления
        this.selected.forEach((e) => {
          this.$root.$data.sharedStore.removeFromCart(e);
        });
      }
    },
    increment(item) {
      // Увеличение количества одного товара путем добавления его в корзину
      this.$root.$data.sharedStore.addToCart(item);
    },
    decrement(item) {
      // Уменьшение количества одного товара (меньше 1 нельзя сделать) путем удаления его из корзины
      if (item.quantity > 1) this.$root.$data.sharedStore.removeFromCart(item);
    },
    floatFormat(float) {
      // Приведение числа с плавающей точкой к правильному числу цифр в десятичной части и форматированием точек и запятых для вывода
      return float.toFixed(2).toString().replace('.', ',');
    },
  },
};
</script>
