<template>
  <!-- Используются различные компоненты фреймворка vuetify для быстрого создания макета -->
  <!-- v-toolbar, v-spacer, v-badge, v-btn, v-icon, v-toolbar-side-icon, v-dialog, v-card  -->
  <!-- Также используются различные css классы из фреймворка vuetify и точки определения размеров экрана для управления видом на различных устройтсвах -->
  <v-toolbar app>
    <!-- Назваение магазина с различным размером шрифта для обычной и мобильной версии -->
    <v-toolbar-title
      class="text-uppercase"
      :class="{
        'title': $vuetify.breakpoint.smAndDown,
        'headline': $vuetify.breakpoint.mdAndUp
      }"
    >
      <router-link to="/">
        <span class="font-weight-light mr-2">tr logic llc</span>
        <span>store</span>
      </router-link>
    </v-toolbar-title>

    <!-- В качестве элемента тулбара - пункт меню Каталог (отображается только на больших экранах) -->
    <v-toolbar-items
      v-if="$vuetify.breakpoint.mdAndUp"
      class="ml-5"
    >
      <v-btn
        :ripple="false"
        depressed
        active-class
        to="/"
      >
        Каталог
      </v-btn>
    </v-toolbar-items>

    <v-spacer />

    <!-- Значок корзины с числом товара в ней -->
    <v-badge
      v-model="cartSizeShow"
      left
      overlap
    >
      <template slot="badge">
        <span>{{ cartSize }}</span>
      </template>
      <v-btn
        icon
        small
        active-class
        to="/cart"
      >
        <v-icon
          color="grey lighten-1"
        >
          shopping_cart
        </v-icon>
      </v-btn>
    </v-badge>

    <!-- Значок "гамбургера" для мобильного варианта - открывает диалогове меню (показывается только для мобильных и планшетов) -->
    <v-toolbar-side-icon
      v-if="$vuetify.breakpoint.smAndDown"
      :ripple="false"
      class="ml-4"
      @click="menu = true"
    />

    <!-- Диалогове меню (показывается только для мобильных и планшетов) -->
    <v-dialog
      v-if="$vuetify.breakpoint.smAndDown"
      v-model="menu"
      fullscreen
    >
      <v-card class="menu">
        <v-toolbar
          dense
          flat
          color="transparent"
        >
          <v-spacer />
          <v-btn
            icon
            @click="menu = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-btn
            :ripple="false"
            depressed
            active-class
            block
            color="white"
            to="/"
            @click="menu = false"
          >
            <span>Каталог</span>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>

<script>
export default {
  name: 'CToolbar',
  data: () => ({
    // Переключатель диалогового меню в мобильном режиме
    menu: false,
  }),
  computed: {
    cartSize() {
      // Получаем из хранилища размер корзины для отображения
      return this.$root.$data.sharedStore.cartSize();
    },
    cartSizeShow() {
      // Признак - показывать ли количество содержимого корзины (0 не показывается)
      return this.cartSize > 0;
    },
  },
};
</script>

<style lang="stylus">
  .v-toolbar__title
    a
      color: inherit !important;
      text-decoration: none;
</style>
