<template>
  <!-- Используются различные компоненты фреймворка vuetify для быстрого создания макета -->
  <!-- v-container, v-layout, v-flex, v-btn, v-icon, v-img, v-card, v-snackbar  -->
  <!-- Также используются различные css классы из фреймворка vuetify и точки определения размеров экрана для управления видом на различных устройтсвах -->
  <v-container grid-list-lg>
    <v-layout
      wrap
    >
      <!--Название раздела с различным размером шрифта для обычной и мобильной версии -->
      <v-flex xs12>
        <div
          class="font-weight-bold"
          :class="{
            'title mb-1': $vuetify.breakpoint.xs,
            'headline mb-2': $vuetify.breakpoint.sm,
            'display-1 mb-3': $vuetify.breakpoint.mdAndUp
          }"
        >
          Каталог
        </div>
      </v-flex>

      <!--Товары доавляются в цикле v-for -->
      <v-flex
        v-for="item in catalog"
        :key="item.id"
        xs12
        sm6
        md4
      >
        <v-card>
          <!--Изображение -->
          <v-img
            :src="item.image"
            aspect-ratio="1.5"
          />
          <!--Название -->
          <v-card-title class="justify-center">
            {{ item.title }}
          </v-card-title>
          <!--Цена и кнопка добавления -->
          <v-card-actions>
            <v-flex
              xs6
            >
              Цена: <span class="red--text font-weight-bold">{{ item.price }}</span>
              <v-icon class="ml-1 ruble-sign">
                fa-ruble-sign
              </v-icon>
            </v-flex>
            <v-flex
              xs6
            >
              <v-btn
                class="blue white--text text-none"
                block
                round
                depressed
                @click="addToCart(item)"
              >
                <v-icon small>
                  shopping_cart
                </v-icon>
                В корзину
              </v-btn>
            </v-flex>
          </v-card-actions>
        </v-card>
      </v-flex>

      <!--Элемент всплывающей подсказки -->
      <v-snackbar
        v-model="addedItem"
        top
        :vertical="$vuetify.breakpoint.xs"
        :timeout="1500"
        color="info"
      >
        <strong class="mr-1">{{ addedItemTitle }}</strong> добавлен в корзину
        <v-btn
          icon
          small
          @click="addedItem = false"
        >
          <v-icon>close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import CatalogDB from '@/assets/catalog_db';

export default {
  name: 'Home',
  data: () => ({
    // Каталог товаров из Json
    catalog: CatalogDB,
    // Признак добавления товара - для показа всплывающей посдказки
    addedItem: false,
    // Название добавляемого товара - для показа всплывающей посдказки
    addedItemTitle: '',

  }),
  methods: {
    addToCart(item) {
      // Доблавнеие товара в корзину
      // Запоминаем его название для подсказки
      this.addedItemTitle = item.title;
      // Показываем подсказку
      this.addedItem = true;
      // Добавляем в хранилище
      this.$root.$data.sharedStore.addToCart(item);
    },
  },
};
</script>
