<template>
  <v-app>
    <!-- Отобразили тулбар вверху сайта независимо от контента в router-view -->
    <CToolbar />
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import CToolbar from '@/components/CToolbar';

export default {
  name: 'App',
  components: {
    CToolbar,
  },
};
</script>
